// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Font Family

$sans-serif-stack: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$ff-accent: 'Comfortaa', $sans-serif-stack;

/// Colors
/// 
$trb-orange0: hsl(25, 100%, 28%); // #913C00
$trb-orange1: hsl(28, 100%, 50%); //#FF7800

$trb-orange3: hsl(31, 100%, 61%); //#FFA039
$trb-orange4: hsl(31, 100%, 80%); //FFCF9B


$trb-black2: hsl(0, 0%, 18%); //#2D2D2D
$trb-black3: hsl(0, 0%, 40%); //#666666

$trb-grey1: hsl(0, 0%, 67%); //#ABABAB
$trb-grey2: hsl(0, 0%, 84%); //#D7D7D7
$trb-grey3: hsl(0, 0%, 90%); //#E6E6E6;
$trb-grey4: hsl(0, 0%, 98%); //#FAFAFA


$black-0: hsl(0, 0%, 0%); //#000000;
$white-0: hsl(0, 0%, 100%); //#FFFFFF;


$orange-shadow: adjust-color($trb-orange0, $alpha: -0.75);
$orange-bg: adjust-color($trb-orange4, $alpha: -0.9);
// $orange-bg2: adjust-color(hsla(31, 100%, 71%, 0.67), $alpha: -0.9);
$grey-bg: adjust-color($trb-grey2, $alpha: -0.8);
$grey-bg2: adjust-color($trb-grey2, $alpha: -0.7);


/// Font sizes
/// 
$fs-h1: 3.33rem;
$fs-h2: 2.13rem; 
$fs-h3: 1.7rem; 
$fs-reg: 0.875rem; 
$fs-small: 0.5rem; 
$fs-accent: 1.06rem; 
$fs-h1-xl: 4.3rem;
$fs-h2-xl: 2.74rem;
$fs-h3-xl: 2.2rem;
$fs-reg-xl: 1.125rem;
$fs-small-xl: 0.75rem; 
$fs-accent-xl: 1.378rem; 
$fs-links-xl: 1rem;

/// Line heights
/// 
$lh-xs: 1;
$lh-s: 1.23;
$lh-md: 1.285;
$lh-lg: 1.3;
$lh-xl: 1.5;

/// Design variables
/// 
// $min-card-width: 17rem;
$border-radius: 15px;
$border-radius-sm: 10px;
// $transition: ease all 0.2s;



/// shame
/// 

.card {
    margin: 1rem;
    padding: 1rem;
    background-color: bisque;
}

.card h3 {
    font-size: $fs-accent;
    color: $trb-orange1;
}

.card p {
    color: $trb-black2;
}

#pricing h3 {
    font-size: $fs-reg;
}



.list--staticdynamic>li {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;

    &::before {
        content: "";
        width: 14px;
        height: 14px;
        mask-image: url(/assets/images/home/staticdynamic/validation-icon.SVG);
        background-color: $trb-orange3;
    }
}

#features h3 {
    display: grid;
    grid-template-columns: auto 1fr;

    &::before {
        content: "";
        width: 17.92px;
        height: 18.76px;
        mask-image: url(/assets/images/home/features/features-icon.svg);
        background-color: $trb-orange3;
    }
}





