// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Regular font family

$sans-serif-stack: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

/// Colors
/// 
$orange: hsl(31, 100%, 61%);
$white: hsl(0, 0%, 100%);

/// Font sizes
/// 
/* $fs-h1:  4rem;
$fs-h2: 1.8rem;
$fs-lead: 1.125rem; 
$fs-h2: 1.5em;
$para: 15px; */


/// Design variables
/// 
// $min-card-width: 17rem;
$border-radius: 6px;
// $transition: ease all 0.2s;



/// shame
/// 

.card {
    margin: 1rem;
    padding: 1rem;
    background-color: bisque;
}

.btn {
    padding: 0.3rem;
    background-color: thistle;
}

.list--staticdynamic>li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    &::before {
        content: url("../images/home/staticdynamic/validation-icon.SVG");
        width: 14px;
    }
}

iframe {
    border-radius: 15px;
}

#features h3::before {
    display: block;
    content: url("../images/home/features/features-icon.svg");
    width: 14px;
    height: 14px;
}

