// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/// Set base colors
$bg-color: $trb-grey4;
$text-color: $trb-black3;
$accent: $black-0;


* {
    margin: 0;
    padding: 0;
    &:focus-visible {
        outline: 3px dotted $accent;
        outline-offset: 3px;
    }
    // outline: 1px solid salmon;
}

body {
    font-family: $sans-serif-stack;
    display: grid;
    grid-template-rows: auto 1fr auto;
    // place-items: center;
    line-height: $lh-md;
    // text-align: center;
    background-color: $bg-color;
    color: $text-color;
    &.page-inner {
        background-color: $orange-bg;
    }
}

img {
    height: auto;
}

ul {
    list-style: none;
}

/**
 * Basic styles for links
 */
a:not(.btn) {
    font-size: $fs-reg;
    color: inherit;
    text-decoration-skip-ink: none;
    @include breakpoint-up("extra-large") {
        font-size: $fs-links-xl;
    }
    &:hover {
        color: $accent;
        // transition: $transition;
    }
}

svg {
    color: $trb-orange3;
    fill: $trb-orange3;
}

iframe {
    width: min(100%, 344px);
    height: 100%;
    border-radius: $border-radius;
    @include breakpoint-up("medium") {
        width: min(100%, 475px);
    }
    @include breakpoint-up("extra-large") {
        width: 100%;
    }
}