// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/// Set base colors
// $bg-color: $trb-grey4;
// $text-color: $trb-black3;
// $accent: $black-0;

// $bg-color: purple;
// $text-color: purple;

// :root {
//     --bg-color: $trb-grey4;
//     --txt-color: $trb-black3;
//     --accent-color: $black-0;
// }

// :root.dark {
//     --bg-color: $trb-black2;
//     --text-color: $trb-grey3;
//     --accent-color: $white-0;
//     // background-color: red;
//     //background-color: $trb-black2;
//     --bg-color: $trb-black2;
// }

:root,
:root.light {
    --bg-color: hsl(0, 0%, 98%);
    --bg-color-inner: hsla(31, 100%, 80%, 0.1);
    --bg-color-footer: hsl(0, 0%, 100%);
    --txt-color: hsl(0, 0%, 18%);
    --para-txt-color: hsl(0, 0%, 40%);
    --h1-color: hsl(31, 100%, 61%);
    --accent-color: hsl(0, 0%, 0%);
    --icons-menu: hsl(0, 0%, 18%);
    --icons-deco: hsl(28, 100%, 50%);
}

:root.dark {
    --bg-color: hsl(0, 0%, 18%);
    --bg-color-inner: hsl(0, 0%, 31%);
    --bg-color-footer: hsl(0, 0%, 40%);
    --txt-color: hsl(0, 0%, 98%);
    --para-txt-color: hsl(0, 0%, 90%);
    --h1-color: hsl(28, 100%, 50%);
    --accent-color: hsl(0, 0%, 98%);
    --icons-menu: hsl(0, 0%, 98%);
    // --icons-deco: hsl(28, 100%, 50%);
}

// $trb-orange0: hsl(25, 100%, 28%); // #913C00
// $trb-orange1: hsl(28, 100%, 50%); //#FF7800

// $trb-orange3: hsl(31, 100%, 61%); //#FFA039
// $trb-orange4: hsl(31, 100%, 80%); //FFCF9B


// $trb-black2: hsl(0, 0%, 18%); //#2D2D2D
// $trb-black3: hsl(0, 0%, 40%); //#666666
// $trb-black4: hsl(0, 0%, 60%); //#999898

//$trb-grey0: hsl(0, 0%, 31%); //#505050;
// $trb-grey1: hsl(0, 0%, 67%); //#ABABAB
// $trb-grey2: hsl(0, 0%, 84%); //#D7D7D7
// $trb-grey3: hsl(0, 0%, 90%); //#E6E6E6;
// $trb-grey4: hsl(0, 0%, 98%); //#FAFAFA


// $black-0: hsl(0, 0%, 0%); //#000000;
// $white-0: hsl(0, 0%, 100%); //#FFFFFF;


// $orange-shadow: adjust-color($trb-orange0, $alpha: -0.75);
// $orange-bg: adjust-color($trb-orange4, $alpha: -0.9);
// // $orange-bg2: adjust-color(hsla(31, 100%, 71%, 0.67), $alpha: -0.9);
// $grey-bg: adjust-color($trb-grey2, $alpha: -0.8);
// $grey-bg2: adjust-color($trb-grey2, $alpha: -0.7);



* {
    margin: 0;
    padding: 0;

    &:focus-visible {
        outline: 3px dotted var(--accent-color);
        outline-offset: 3px;
    }
}

body {
    font-family: $sans-serif-stack;
    display: grid;
    grid-template-rows: auto 1fr auto;
    // place-items: center;
    line-height: $lh-md;
    // text-align: center;
    background-color: var(--bg-color);
    color: var(--txt-color);

    &.page-inner {
        background-color: var(--bg-color-inner);
    }
}

img {
    height: auto;
}

ul {
    list-style: none;
}

/**
 * Basic styles for links
 */
a:not(.btn) {
    font-size: $fs-reg;
    color: inherit;
    text-decoration-skip-ink: none;

    @include breakpoint-up("extra-large") {
        font-size: $fs-links-xl;
    }

    &:hover {
        color: var(--accent-color);
        // transition: $transition;
    }
}

svg {
    &.icons-deco {
        color: var(--icons-deco);
        fill: var(--icons-deco);
    }
    &.icons-menu {
        color: var(--icons-menu);
        fill: var(--icons-menu);
    }
}

iframe {
    width: min(100%, 344px);
    height: 100%;
    border-radius: $border-radius;

    @include breakpoint-up("medium") {
        width: min(100%, 475px);
    }

    @include breakpoint-up("extra-large") {
        width: 100%;
    }
}