// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.wrapper {
    max-width: 1295px;
    margin: 0 auto;
    padding: 2rem clamp(0.5rem, 2.5%, 2.5rem) 3.18rem;
    @include breakpoint-up("extra-large") {
        padding: 5rem clamp(0.5rem, 2.5%, 2.5rem);
    }
}

.flow > * + * {
    margin-top: 1.5rem;
    @include breakpoint-up("extra-large") {
        margin-top: 2rem;
    }
}

.flow--small > * + * {
    margin-top: 0.6rem;
    @include breakpoint-up("extra-large") {
        margin-top: 1rem;
    }
}



