h1, h2, .h2 {
    font-family: $ff-bold;
}

h3, a, button {
    font-family: $ff-accent;
}

h1 {
    font-size: $fs-h1;
    font-weight: 900;
    color: var(--h1-color);
    @include breakpoint-up("extra-large") {
        font-size: $fs-h1-xl;
    }
}

h2, .h2 {
    font-size: $fs-h2;
    font-weight: 900;
    @include breakpoint-up("extra-large") {
        font-size: $fs-h2-xl;
    }
    &#bottomnav-title {
        font-size: $fs-reg;
        font-weight: 700;
        @include breakpoint-up("extra-large") {
            font-size: $fs-links-xl;
        }
    }
    &.footer__familylinks-title {
        font-size: 12px;
        font-weight: 500;
        @include breakpoint-up("large") {
            font-size: $fs-reg;
        }
        @include breakpoint-up("extra-large") {
            font-size: $fs-links-xl;
        }
    }

}

h3 {
    font-size: $fs-h3;
    font-weight: 700;
    @include breakpoint-up("extra-large") {
        font-size: $fs-h3-xl;
        line-height: $lh-lg;
    }
}

p, li {
    max-width: 45ch;
    font-size: $fs-reg;
    color: var(--para-txt-color);
    @include breakpoint-up("extra-large") {
        font-size: $fs-reg-xl;
        line-height: $lh-lg;
    }
}

small {
    font-size: $fs-small;
    font-weight: 500;
    line-height: $lh-xl;
    @include breakpoint-up("extra-large") {
        font-size: $fs-small-xl;
    }
}

.txt-accent {
    color: var(--accent-color);
}

.txt-orange {
    color: $trb-orange3;
}

.txt-uppercase {
    text-transform: uppercase;
}

.txt-underline {
    text-decoration: underline;
}