button,
.btn {
    display: inline-flex;
    align-items: center;
    align-self: start;
    justify-content: center;
    min-width: 10ch;
    min-height: 44px;
    padding: 1.06em 1em;
    font-size: $fs-reg;
    line-height: $lh-md;
    text-align: center;
    text-decoration: none;
    background-color: $orange2;
    color: $white;
    border: none;
    border-radius: $border-radius;
    // transition: 180ms ease-in-out;
    // transition-property: background, border;
    cursor: pointer;
    box-shadow: inset -2px -2px 10px $orange1,
        0 10px 20px $orange-shadow;

    @include breakpoint-up("extra-large") {
        font-size: $fs-reg-xl;
    }
}

.btn--outline {
    color: $black;
    background-color: transparent;
    outline: 2px solid $orange1;
    box-shadow: unset;
}

.btn--square {
    padding: 0.6em 1em;
    border-radius: $border-radius-sm;
    outline-width: 1px;
}

.btn--family {
    width: min(100%, 137px);
    padding: 0.6em 1em;
    background-color: $white;
    border-radius: $border-radius-sm;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.16);
}