footer {
    display: grid;
    padding-top: 2.8rem;
    text-align: center;
    grid-template-areas:
    "social"
    "bottomnav"
    "familylinks"
    "copyright";
    align-items: end;
    gap: 1.6875rem;
    background-color: var(--bg-color-footer);
    @include breakpoint-up("medium") {
        grid-template-areas:
        "social bottomnav familylinks"
        "copyright bottomnav familylinks";
        grid-template-columns: 1fr 2fr auto;
        padding-top: unset;
        padding-left: 2.5rem;
        text-align: unset;
    }
}

.footer__social {
    display: grid;
    justify-items: center;
    gap: 1rem;
    &-logo {
        max-width: 99px;
        // filter: brightness(0);
        @include breakpoint-up("extra-large") {
            max-width: unset;
        }
    }
    &-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 22.68px);
        gap: 0.5rem;
        @include breakpoint-up("extra-large") {
            grid-template-columns: repeat(4, 34px);
        }
        & svg {
            width: 100%;
            height: auto;
        }
    }
    @include breakpoint-up("medium") {
        justify-items: unset;
    }
}


.footer__bottomnav {
    grid-area: bottomnav;
    display: grid;
    gap: 1.5rem;
    &-list {
        display: grid;
        gap: 2rem;
    }
    &-list-section {
        display: grid;
        gap: 1rem;
        @include breakpoint-up("medium") {
            gap: 0.5rem;
        }
        &:last-child {
            color: $trb-orange3;
            @include breakpoint-up("medium") {
                grid-template-columns: repeat(2, 1fr);
                padding-bottom: 1rem;
            }
        }
    }
}

.footer__familylinks {
    grid-area: familylinks;
    padding: 2rem 0;
    text-align: center;
    color: $trb-black2;
    background-color: $trb-grey2;
    &-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 1.5rem;
        gap: 1rem;
    }
    @include breakpoint-up("medium") {
        padding: 2rem 2rem 0;
    }
}

.footer__copyright {
    padding-bottom: 1rem;
}
