header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $header-padding;
    position: relative;
    background-color: $trb-grey4;
    box-shadow: 0px 1px 16px rgba(255, 120, 0, 0.2);

    @include breakpoint-up("medium") {
        flex-direction: row;
        align-items: center;

        box-shadow: 0px 2px 10px rgba(45, 45, 45, 0.1);
    }
}

.header__logo {
    max-width: 87px;

    @include breakpoint-up("medium") {
        max-width: unset;
    }
}

.header__menu,
.header__links {
    display: flex;
    flex-direction: column;
    

    & a {
        text-decoration: none;
    }

    @include breakpoint-up("medium") {
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
    }
}

.header__links {
    padding: 1rem 0;
    gap: 1rem;
    @include breakpoint-up("medium") {
        padding: 0;
    }
}