.hero-main img {
    width: min(100%, 217px);

    @include breakpoint-up("medium") {
        width: min(100%, 382px);
        place-self: end;
    }

    @include breakpoint-up("extra-large") {
        width: 100%;
    }
}

.hero:not(.hero-main) {

    width: min(100%, 900px);
    margin: 0 auto;
    

    @include breakpoint-up("extra-large") {
        width: min(100%, 1295px);
        gap: 6rem;
    }

    & img {
        display: none;

        @include breakpoint-up("medium") {
            // background-color: var(--bg-color);
            display: block;
            place-self: center;
            // width: min(100%, 445px);
        }

        @include breakpoint-up("extra-large") {
            width: 100%;
        }
    }

}

.dark .wrapper-illustration {
    display: inline-block;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $trb-orange1;
        mix-blend-mode: hue;
    }
    & img {
        filter: invert(1);
    }
}


