/* navigation, only relevant if there's javascript, buttons are added with js */

.header__button {
    background-color: transparent;
    box-shadow: unset;
    width: unset;
    padding: unset;


    @include breakpoint-up("medium") {
        align-self: center;
    }

    &--menu {
        position: absolute;
        top: 1rem;
        right: $header-padding;
        min-width: 6ch;
        z-index: 100;

        &[aria-expanded="true"] {
            top: 2.375rem;
            right: 2.375rem;
        }

        @include breakpoint-up("medium") {
            display: none;
        }
    }

}

.theme-checkbox {
    position: absolute;
    top: $header-padding;
    right: calc(2 * $header-padding) + 2.5;
    color: var(--icons-menu);

    @include breakpoint-up("medium") {
        align-self: center;
        top: unset;
        right: unset;
        }
}



.theme-checkbox>input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bg-color);
    margin: 0;
    border: 0;
    width: auto;
    padding: 0;
}


// styles for expanded menu (menu after the button with aria expanded true
button[aria-expanded="true"]+.header__links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 187px;
    padding: 8.5rem 1.5rem;
    gap: 1.8rem;
    background-color: var(--bg-color);
    z-index: 10;

    & .nav-link {
        font-size: $fs-reg-xl;
        @include breakpoint-up("medium") {
            font-size: $fs-reg;
        }
        @include breakpoint-up("extra-large") {
            font-size: $fs-reg-xl;
        }
    }
}

// hide menu that come after the button with aria expanded false
button[aria-expanded="false"]+.header__links {
    padding: 0;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transform: translateX(100%);
}

// if there's javascript, make room for theme button on large screens and revert all mobile styles, regardless of button state
button[aria-expanded="false"]+.header__links,
button[aria-expanded="true"]+.header__links {
    font-size: $fs-h1;

    @include breakpoint-up("medium") {
        margin-right: 3rem; //for theme button
        position: unset;
        height: auto;
        width: auto;
        padding: unset;
        opacity: unset;
        visibility: unset;
        transform: unset;
    }
}