// -----------------------------------------------------------------------------
// This file contains all styles related to the layout of the page.
// -----------------------------------------------------------------------------

main {
    // padding: 5vh 0;
    // margin: 0 auto;
    // max-width: 1295px;
}

.wrapper-grid {
    display: grid;
    align-items: center;
    gap: 2rem;

    @include breakpoint-up("medium") {
        grid-template-columns: repeat(2, 1fr);
    }

    &>:first-child {
        max-width: 420px;

        @include breakpoint-up("extra-large") {
            max-width: 63ch;
        }
    }
}

.wrapper-grid--3 {
    @include breakpoint-up("medium") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up("large") {
        grid-template-columns: repeat(3, 1fr);
    }
}

.wrapper-grid--4 {
    padding: 1.5rem 0;

    @include breakpoint-up("medium") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up("large") {
        grid-template-columns: repeat(4, 1fr);
    }
}

.wrapper-buttons {
    display: grid;
    // place-items: center;
    gap: 1.5rem;

    @include breakpoint-up("large") {
        grid-template-columns: repeat(2, 1fr);
    }
}


.wrapper-horizontal {
    min-width: 226px;
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    padding: 2.5rem clamp(0.5rem, 2.5%, 2.5rem) 5.18rem;
    @include breakpoint-up("large") {
        justify-content: center;
    }
    &>* {
        flex: 0 0 226px;

        @include breakpoint-up("extra-large") {
            flex: 0 0 316px;
        }
    }
}

section {
    &#generator {
        background-color: $grey-bg;
    }

    &#features {
        background-color: $orange-bg;
    }

    &#pricing {
        display: grid;
        background-color: $grey-bg2;
        &>.wrapper {
            width: min(100%, 976px);
            @include breakpoint-up("extra-large") {
                width: min(100%, 1295px);
            }
        }
    }
}