// -----------------------------------------------------------------------------
// This file contains all styles related to the layout of the page.
// -----------------------------------------------------------------------------

main {
    max-width: 140ch;
}

footer {
    padding: 0.5rem 0;
    text-align: center;
}

