// -----------------------------------------------------------------------------
// This file contains all styles related to the layout of the page.
// -----------------------------------------------------------------------------


.wrapper-grid {
    display: grid;
    align-items: center;
    gap: 2rem;

    @include breakpoint-up("medium") {
        grid-template-columns: repeat(2, 1fr);
    }

    &>:first-child {
        max-width: 420px;

        @include breakpoint-up("extra-large") {
            max-width: 63ch;
        }
    }
}

.wrapper-grid--3 {
    @include breakpoint-up("medium") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up("large") {
        grid-template-columns: repeat(3, 1fr);
    }
}

.wrapper-grid--4 {
    padding: 1.5rem 0;

    @include breakpoint-up("medium") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up("large") {
        grid-template-columns: repeat(4, 1fr);
    }
}

.wrapper-generator {
    display: grid;
    align-items: center;
    justify-items: stretch;

    @include breakpoint-up("medium") {
        grid-template-columns: auto auto;
        padding-top: 83px;
    }

    @include breakpoint-up("large") {
        height: min(100%, 283px);
    }

    @include breakpoint-up("extra-large") {
        grid-template-columns: auto auto;
        height: 100%;
        padding-top: 125px;
    }

    &.reverse {
        @include breakpoint-up("medium") {
            &>iframe {
                order: -1;
            }
        }
    }

    &>.justify-right {
        @include breakpoint-up("medium") {
            justify-self: end;
        }
    }

    & ul {
        margin-bottom: 1rem;

        &>li {
            display: grid;
            align-items: center;
            grid-template-columns: auto 1fr;
            gap: 0.5rem;

            &::before {
                content: "";
                width: 14px;
                height: 14px;
                mask-image: url(/assets/images/home/staticdynamic/validation-icon.SVG);
                background-color: var(--icons-deco);
            }
        }
    }

}

.wrapper-horizontal {
    min-width: 226px;
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    padding: 2.5rem clamp(0.5rem, 2.5%, 2.5rem) 5.18rem;
    scroll-snap-type: x mandatory;

    @include breakpoint-up("large") {
        justify-content: center;
    }

    &>* {
        flex: 0 0 226px;
        scroll-snap-align: center;

        @include breakpoint-up("extra-large") {
            flex: 0 0 316px;
        }
    }
}

.wrapper-buttons {
    display: grid;
    gap: 1.5rem;

    @include breakpoint-up("large") {
        grid-template-columns: repeat(2, 1fr);
    }
}

.wrapper-buttons-pricing {
    display: flex;
    // justify-content: center;
    gap: 1rem;

    @include breakpoint-up("medium") {
        justify-content: flex-end;
    }

    @include breakpoint-up("large") {
        gap: 1.375rem;
    }

    @include breakpoint-up("extra-large") {
        gap: 2rem;
    }
}




section {
    &#generator {
        background-color: $grey-bg;
    }

    &#features {
        background-color: $orange-bg;
    }

    &#pricing {
        display: grid;
        background-color: $grey-bg2;

        &>.wrapper {
            width: min(100%, 976px);

            @include breakpoint-up("large") {
                padding-left: 0;
                padding-right: 0;
            }

            @include breakpoint-up("extra-large") {
                width: min(100%, 1295px);
            }
        }
    }
}