@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables',
'abstracts/mixins';
// 'abstracts/mixins';


// 2. Vendors
@import 'vendors/reset';

// 3. Base stuff
@import 'base/fonts',
'base/base',
'base/typography',
'base/helpers';

// 4. Layout-related sections
@import 'layout/page',
'layout/header',
'layout/navigation-mobile',
'layout/hero',
'layout/footer';

// 5. Components
@import 'components/button',
'components/card',
'components/input';
// 'components/dialog';

// 6. Page-specific styles
// @import
//  'pages/home';

// 7. Themes
//@import
//'themes/default';