.card {
  margin: 1rem;
  padding: 1rem;
  background-color: bisque;
}

.card h3 {
  font-size: 1.06rem;
  color: hsl(28, 100%, 50%);
}

.card p {
  color: hsl(0, 0%, 18%);
}

#pricing h3 {
  font-size: 0.875rem;
}

.list--staticdynamic > li {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}
.list--staticdynamic > li::before {
  content: "";
  width: 14px;
  height: 14px;
  -webkit-mask-image: url(/assets/images/home/staticdynamic/validation-icon.SVG);
          mask-image: url(/assets/images/home/staticdynamic/validation-icon.SVG);
  background-color: hsl(31, 100%, 61%);
}

#features h3 {
  display: grid;
  grid-template-columns: auto 1fr;
}
#features h3::before {
  content: "";
  width: 17.92px;
  height: 18.76px;
  -webkit-mask-image: url(/assets/images/home/features/features-icon.svg);
          mask-image: url(/assets/images/home/features/features-icon.svg);
  background-color: hsl(31, 100%, 61%);
}

/*
* Andy Bell's Modern CSS Reset modified my Stephanie Eckless
* @link https://github.com/5t3ph/html-sass-jumpstart/blob/main/src/sass/_reset.scss
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
li,
h1,
h2,
h3,
h4 {
  word-break: break-word;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  html {
    scroll-behavior: initial;
  }
}
/* roboto-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_latin-ext-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_latin-ext-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* comfortaa-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/comfortaa-v40-latin_latin-ext-regular.woff2") format("woff2"), url("../fonts/comfortaa-v40-latin_latin-ext-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* comfortaa-500 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/comfortaa-v40-latin_latin-ext-500.woff2") format("woff2"), url("../fonts/comfortaa-v40-latin_latin-ext-500.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* comfortaa-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/comfortaa-v40-latin_latin-ext-700.woff2") format("woff2"), url("../fonts/comfortaa-v40-latin_latin-ext-700.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* comfortaa bold from dafont.com */
@font-face {
  font-display: swap;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Comfortaa-Bold.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
}
*:focus-visible {
  outline: 3px dotted hsl(31, 100%, 61%);
  outline-offset: 3px;
}

body {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  line-height: 1.285;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 40%);
}
body.page-inner {
  background-color: rgba(255, 206, 153, 0.1);
}

img {
  height: auto;
}

ul {
  list-style: none;
}

/**
 * Basic styles for links
 */
a:not(.btn) {
  font-size: 0.875rem;
  color: inherit;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media screen and (min-width: 1440px) {
  a:not(.btn) {
    font-size: 1rem;
  }
}
a:not(.btn):hover {
  color: hsl(31, 100%, 61%);
}

svg {
  color: hsl(31, 100%, 61%);
  fill: hsl(31, 100%, 61%);
}

iframe {
  border-radius: 15px;
}

h1, h2, .h2, h3, a, button {
  font-family: "Comfortaa", "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 3.33rem;
  font-weight: 900;
  color: hsl(31, 100%, 61%);
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 4.3rem;
  }
}

h2, .h2 {
  font-size: 2.13rem;
  font-weight: 900;
  color: hsl(0, 0%, 18%);
}
@media screen and (min-width: 1440px) {
  h2, .h2 {
    font-size: 2.74rem;
  }
}
h2#bottomnav-title, .h2#bottomnav-title {
  font-size: 0.875rem;
}
@media screen and (min-width: 1440px) {
  h2#bottomnav-title, .h2#bottomnav-title {
    font-size: 1rem;
  }
}
h2.footer__familylinks-title, .h2.footer__familylinks-title {
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  h2.footer__familylinks-title, .h2.footer__familylinks-title {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1440px) {
  h2.footer__familylinks-title, .h2.footer__familylinks-title {
    font-size: 1rem;
  }
}

h3 {
  font-size: 1.7rem;
  font-weight: 700;
  color: hsl(0, 0%, 18%);
}
@media screen and (min-width: 1440px) {
  h3 {
    font-size: 2.2rem;
    line-height: 1.3;
  }
}

p, li {
  font-size: 0.875rem;
}
@media screen and (min-width: 1440px) {
  p, li {
    font-size: 1.125rem;
    line-height: 1.3;
  }
}

small {
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 1440px) {
  small {
    font-size: 0.75rem;
  }
}

.txt-black {
  color: hsl(0, 0%, 0%);
}

.txt-orange {
  color: hsl(31, 100%, 61%);
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-underline {
  text-decoration: underline;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flow > * + * {
  margin-top: 1.5rem;
}
@media screen and (min-width: 1440px) {
  .flow > * + * {
    margin-top: 2rem;
  }
}

.flow--small > * + * {
  margin-top: 0.6rem;
}
@media screen and (min-width: 1440px) {
  .flow--small > * + * {
    margin-top: 1rem;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 1rem;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0px 1px 16px rgba(255, 120, 0, 0.2);
}
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(45, 45, 45, 0.1);
  }
}
header .logo {
  max-width: 87px;
}
@media screen and (min-width: 768px) {
  header .logo {
    max-width: unset;
  }
}

.menu-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu-header a {
  text-decoration: none;
}
.menu-header button {
  background-color: transparent;
  box-shadow: unset;
  min-width: unset;
}
@media screen and (min-width: 768px) {
  .menu-header button {
    align-self: center;
  }
}
.menu-header .menu-button {
  color: hsl(0, 0%, 18%);
}
@media screen and (min-width: 768px) {
  .menu-header {
    flex-direction: row;
    align-items: center;
  }
}

main {
  padding: 5vh clamp(0.5rem, 2.5%, 2.5rem);
  margin: 0 auto;
  max-width: 1295px;
}

.wrapper-grid {
  display: grid;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .wrapper-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.wrapper-grid > :first-child {
  max-width: 420px;
}
@media screen and (min-width: 1440px) {
  .wrapper-grid > :first-child {
    max-width: 63ch;
  }
}

@media screen and (min-width: 768px) {
  .wrapper-grid--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .wrapper-grid--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.wrapper-buttons {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .wrapper-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .hero:not(.hero-main) {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .hero:not(.hero-main) {
    gap: 6rem;
  }
}
.hero:not(.hero-main) img {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero:not(.hero-main) img {
    display: block;
    place-self: center;
  }
}
@media screen and (min-width: 1440px) {
  .hero:not(.hero-main) img {
    width: 100%;
  }
}
.hero:not(.hero-main) .hero-main img {
  max-width: 217px;
}
@media screen and (min-width: 768px) {
  .hero:not(.hero-main) .hero-main img {
    width: min(100%, 382px);
    place-self: end;
  }
}
@media screen and (min-width: 1440px) {
  .hero:not(.hero-main) .hero-main img {
    width: 100%;
  }
}

footer {
  display: grid;
  padding-top: 2.8rem;
  text-align: center;
  grid-template-areas: "social" "bottomnav" "familylinks" "copyright";
  align-items: end;
  gap: 1.6875rem;
  background-color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 768px) {
  footer {
    grid-template-areas: "social bottomnav familylinks" "copyright bottomnav familylinks";
    grid-template-columns: 1fr 2fr auto;
    padding-top: unset;
    padding-left: 2.5rem;
    text-align: unset;
  }
}

.footer__social {
  display: grid;
  justify-items: center;
  gap: 1rem;
}
.footer__social-logo {
  max-width: 88px;
  filter: brightness(0);
}
@media screen and (min-width: 1024px) {
  .footer__social-logo {
    max-width: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__social-logo {
    max-width: unset;
  }
}
.footer__social-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 22.68px);
  gap: 0.5rem;
}
@media screen and (min-width: 1440px) {
  .footer__social-wrapper {
    grid-template-columns: repeat(4, 34px);
  }
}
@media screen and (min-width: 768px) {
  .footer__social {
    justify-items: unset;
  }
}

.footer__bottomnav {
  grid-area: bottomnav;
  display: grid;
  gap: 1.5rem;
}
.footer__bottomnav-list {
  display: grid;
  gap: 2rem;
}
.footer__bottomnav-list-section {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__bottomnav-list-section {
    gap: 0.5rem;
  }
}
.footer__bottomnav-list-section:last-child {
  color: hsl(31, 100%, 61%);
}
@media screen and (min-width: 768px) {
  .footer__bottomnav-list-section:last-child {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1rem;
  }
}

.footer__familylinks {
  grid-area: familylinks;
  padding: 2rem 0;
  text-align: center;
  background-color: hsl(0, 0%, 84%);
}
.footer__familylinks-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 1.5rem;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__familylinks {
    padding: 2rem 2rem 0;
  }
}

.footer__copyright {
  padding-bottom: 1rem;
}

button,
.btn {
  display: inline-flex;
  align-items: center;
  align-self: start;
  justify-content: center;
  min-width: 10ch;
  max-width: 198px;
  min-height: 44px;
  padding: 1.06em 1em;
  font-size: 0.875rem;
  line-height: 1.285;
  text-align: center;
  text-decoration: none;
  background-color: hsl(31, 100%, 61%);
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: inset -2px -2px 10px hsl(28, 100%, 50%), 0 10px 20px rgba(143, 60, 0, 0.5);
}
@media screen and (min-width: 1440px) {
  button,
  .btn {
    font-size: 1.125rem;
    max-width: 233px;
  }
}

.btn--outline {
  color: hsl(0, 0%, 18%);
  background-color: transparent;
  outline: 2px solid hsl(28, 100%, 50%);
  box-shadow: unset;
}

.btn--square {
  padding: 0.6em 1em;
  border-radius: 10px;
  outline-width: 1px;
}

.btn--family {
  width: min(100%, 137px);
  padding: 0.6em 1em;
  background-color: hsl(0, 0%, 98%);
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.16);
}

form {
  display: grid;
  margin: 1.5rem 0 2rem;
}

input {
  width: 100%;
  padding: 1.06rem;
  font-size: 0.875rem;
  font-family: "Comfortaa", "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 67%);
  border-radius: 15px;
}
@media screen and (min-width: 1440px) {
  input {
    font-size: 1.125rem;
    line-height: 1.3;
  }
}

.label-checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
}/*# sourceMappingURL=main.css.map */